
body{
    background-color: rgb(53, 48, 48);
    color:beige;
    height:100%
}




.miracle{
    width:25%;
    background-color:rgba(131, 72, 94, 0.7);

}

.dream{
    width:25%;
    background-color:rgb(74, 78, 105, 0.7)

}

.rain{
    width:25%;
    background-color:rgb(61, 49, 45, 0.7);

}

.rainreserve{
    width:25%;
    background-color:rgb(87, 54, 35, 0.7);

}


.container{
    text-align: center;
    display: flex;
    min-height:92vh;
}


p{
    font-size:2vh;
    font-weight: 600;
    position:relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 15px;
    margin-bottom: 15px;
    height:auto;
    text-align: center;
}

#head{
    position:relative;
    margin-top: 2vh;
    margin-bottom: 2vh;
    letter-spacing:10px;
    font-size: 4vh;
    font-weight: 900;
    text-align: center;
}

summary{
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 2.5vh;
    font-weight: 700;
    letter-spacing: 10px;
    font-family: 'Times New Roman', Times, serif;
}

ul{
    font-size:1.8vh;
    margin-left:7%;
    margin-right:7%;
    line-height: 4vh;
}

