*{
    line-height: 30px;
    color: rgb(49, 3, 3);
}

#newmoon{
    position:relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff7f8a;
    border-radius: 50%;
    height: 100px;
    margin-top: 30px;
    width: 100px;

}

h1{
    position:relative;
    margin-top: 35px;
    margin-bottom: 30px;
    letter-spacing: normal;
    font-size: 40px;
    text-align: center
}

#background{
    font-size:16px;
    position:relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 15px;
    margin-bottom: 15px;
    height:auto;
    width: 610px;
    text-align: center;
}


ol li{
    list-style-type:decimal;
    list-style-position: inside;
    font-family:'Times New Roman', Times, serif
}


.rules{
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    padding: 80px ;
    margin: 10px
}

.fieldset{
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    height: auto;
    width: 700px;
    margin: 5px bold;

    background-color: rgba(255, 175, 175, 0.493);
}

#date1{
    letter-spacing: 25px;
    font-family: 'Times New Roman', Times, serif;
}

#miracle{
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}