.img{
    position:fixed;
    height:auto;
    width:101%;
    top: -2.8vw;
    left:-1px;

}

h1{
    position: absolute;
    z-index: index 2; ;
    color:rgb(231, 0, 0);
    
    position:fixed;
    top:18.3vw;
    left:31.5vw;
}

h2{
    position: absolute;
    z-index: index 2; 
    color: rgb(240, 0, 0);
    font-size: 2vw;
    
    position:fixed;
    top:16.6vw;
    left:42.4vw;
    
}

p{
    position: absolute;
    z-index: index 2;
    color:aliceblue;
    font-size: 1.5vw;
    position:fixed;
    top:46.3vw;
    left:2.5vw;
    letter-spacing: 3.5vw;

}

.words{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
}

.zhuxian{
    width: 9.5vw;
    height:9.5vw;
    animation: floatAnimation1 2s ease-in-out infinite alternate;
}

@keyframes floatAnimation1 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

.zhixian{
    width: 9.5vw;
    height:9.5vw;
    animation: floatAnimation2 2s ease-in-out infinite alternate;
}

@keyframes floatAnimation2 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(10px);
    }
}

#zhuxian1{
    position: absolute;
    z-index: index 3;
    position:fixed;
    left:52.5vw;
    top:27.4vw;    
}

#zhuxian2{
    position: absolute;
    z-index: index 3;
    position:fixed;
    left:12.8vw;
    top:24.2vw;    
}

#zhuxian3{
    position: absolute;
    z-index: index 3;
    position:fixed;
    left:35.8vw;
    top:6.5vw;    
}

#zhuxian4{
    position: absolute;
    z-index: index 3;
    position:fixed;
    left:77.5vw;
    top:7.6vw;    
}

#zhixianA{
    position: absolute;
    z-index: index 3;
    position:fixed;
    left:29vw;
    top:30.3vw;
}

#zhixianB{
    position: absolute;
    z-index: index 3;
    position:fixed;
    left:20.6vw;
    top:13.1vw;
}

#zhixianC{
    position: absolute;
    z-index: index 3;
    position:fixed;
    left:59.1vw;
    top:4.1vw;
}

#zhixianD{
    position: absolute;
    z-index: index 3;
    position:fixed;
    left:71.4vw;
    top:19.48vw;
}